Repository thiagojedi/outer-rim: changes, and which lint-staged commands are due for each by the changed paths.
All: deno lint, deno fmt

Create settings navigation
  src/common/components/Menu.tsx
  src/routes/(private)/_layout.tsx
  src/routes/(private)/settings.tsx
  src/routes/(private)/settings/index.tsx
  src/routes/(private)/settings/new-user.tsx
Due: deno lint, deno fmt

Do not create actor when creating user
  src/auth/repositories/users.ts
  src/db/models.ts
  src/routes/(auth)/login.tsx
  src/routes/(auth)/setup.tsx
Due: deno lint, deno fmt

Add new user form
  src/common/components/Card.tsx
  src/islands/UserForm.tsx
  src/routes/(private)/settings/new-user.tsx
Due: deno lint, deno fmt

Refactor user form
  src/islands/UserForm.tsx
Due: deno lint, deno fmt

Creating new user
  src/islands/UserForm.tsx
  src/routes/(private)/settings/new-user.tsx
Due: deno lint, deno fmt

Create edit user page
  src/common/components/Label.tsx
  src/common/components/TextArea.tsx
  src/common/components/TextInput.tsx
  src/federation/repositories/actor.ts
  src/islands/UserForm.tsx
  src/routes/(private)/_layout.tsx
  src/routes/(private)/settings/[handle].tsx
Due: deno lint, deno fmt

Add image and checkbox components
  src/common/components/Card.tsx
  src/common/components/Checkbox.tsx
  src/common/components/ImageInput.tsx
  src/common/components/TextArea.tsx
  src/common/components/TextInput.tsx
  src/islands/UserForm.tsx
Due: deno lint, deno fmt

Refactor models
  src/db/models.ts
Due: deno lint, deno fmt

Handle header upload
  src/common/components/ImageInput.tsx
  src/db/client.ts
  src/federation/repositories/actor.ts
  src/islands/UserForm.tsx
  src/routes/(private)/_layout.tsx
  src/routes/(private)/settings/[handle].tsx
  src/routes/(private)/settings/new-user.tsx
Due: deno lint, deno fmt

Remove postAttachCommand
  .devcontainer/devcontainer.json
Due: deno fmt

Fix devcontainer on podman
  .devcontainer/devcontainer.json
Due: deno fmt

Fix types after change db schema
  deno.jsonc
  src/auth/session.ts
  src/db/models.ts
  src/db/seed.ts
  src/federation/follow.ts
  src/federation/repositories/follow.ts
  src/federation/repositories/post.ts
  src/main.ts
Due: deno lint, deno fmt

Use module forms on user form
  deno.jsonc
  src/auth/session.ts
  src/common/components/TextInput.tsx
  src/common/helpers/object.ts
  src/db/models.ts
  src/islands/UserForm.tsx
  src/routes/(private)/_layout.tsx
  src/routes/(private)/settings/[handle].tsx
  src/routes/(private)/settings/new-user.tsx
Due: deno lint, deno fmt

Rename project
  .idea/deno.xml
  .idea/modules.xml
  .idea/outer-rim.iml
  README.md
Due: deno fmt

Update after merge
  src/modules/microblog/profile.ts
  src/modules/microblog/repositories/actors.ts
  src/modules/microblog/repositories/follows.ts
  src/modules/microblog/repositories/posts.ts
  src/routes/[handle]/index.tsx
Due: deno lint, deno fmt

Use full image name for deno
  .devcontainer/Dockerfile
Due: none

Do not format static files
  deno.jsonc
Due: deno fmt

Add dev environmennt doc to readme
  README.md
Due: deno fmt

Accept any node as content
  src/common/components/Card.tsx
Due: deno lint, deno fmt

Add converter from fedify to mastodon
  src/common/helpers/object.ts
Due: deno lint, deno fmt

Add profile select to login page
  src/routes/(auth)/login.tsx
Due: deno lint, deno fmt

Change devcontainer name to project name
  .devcontainer/devcontainer.json
Due: deno fmt

Select profile when authorize app
  src/auth/repositories/authCodes.ts
  src/auth/repositories/tokens.ts
  src/auth/server.ts
  src/auth/session.ts
  src/db/models.ts
  src/routes/(auth)/login.tsx
  src/routes/(auth)/oauth/authorize.tsx
Due: deno lint, deno fmt

Update verify_credentials.ts with real data
  src/auth/session.ts
  src/federation/repositories/actor.ts
  src/routes/(mastodon)/api/v1/accounts/verify_credentials.ts
Due: deno lint, deno fmt

Fix types after merge
  src/common/components/Card.tsx
  src/db/models.ts
  src/federation/actor.ts
  src/federation/repositories/follow.ts
  src/routes/(auth)/login.tsx
Due: deno lint, deno fmt

More dynamic data on verify_credentials.ts
  deno.jsonc
  src/common/helpers/date.ts
  src/common/helpers/text.test.ts
  src/common/helpers/text.ts
  src/common/mastodon.types.d.ts
  src/db/models.ts
  src/federation/repositories/post.ts
  src/routes/(mastodon)/api/v1/accounts/verify_credentials.ts
Due: deno lint, deno fmt

Simplify more post attach command
  .devcontainer/devcontainer.json
  deno.jsonc
Due: deno fmt

Add mocks to mastodon API
  src/common/mastodon.types.d.ts
  src/modules/microblog/timeline.ts
  src/routes/(mastodon)/api/(authorized)/_middleware.ts
  src/routes/(mastodon)/api/(authorized)/v1/accounts/verify_credentials.ts
  src/routes/(mastodon)/api/(authorized)/v1/lists.ts
  src/routes/(mastodon)/api/(authorized)/v1/preferences.ts
  src/routes/(mastodon)/api/(authorized)/v1/timelines/home.ts
  src/routes/(mastodon)/api/(public)/v1/announcements.ts
  src/routes/(mastodon)/api/(public)/v1/apps.ts
  src/routes/(mastodon)/api/(public)/v1/filters.ts
  src/routes/(mastodon)/api/(public)/v1/followed_tags.ts
  src/routes/(mastodon)/api/(public)/v1/instance.ts
  src/routes/(mastodon)/api/(public)/v1/timelines/public.ts
  src/routes/(mastodon)/api/_middleware.ts
  src/routes/(mastodon)/api/v1/accounts/_middleware.ts
Due: deno lint, deno fmt

Simple timeline implementation
  src/common/mastodon.types.d.ts
  src/modules/microblog/profile.ts
  src/modules/microblog/repositories/actors.ts
  src/modules/microblog/repositories/posts.ts
  src/modules/microblog/timeline.ts
  src/routes/(mastodon)/api/(authorized)/v1/accounts/verify_credentials.ts
Due: deno lint, deno fmt

Fix follow
  src/federation/follow.ts
  src/federation/repositories/actor.ts
  src/routes/(private)/settings/new-user.tsx
Due: deno lint, deno fmt

Fix actor dispatcher
  src/db/models.ts
  src/federation/actor.ts
  src/federation/repositories/key.ts
Due: deno lint, deno fmt

Moving federation to modules folder
  src/main.ts
  src/modules/federation/actor.ts
  src/modules/federation/follow.ts
  src/modules/federation/mod.ts
  src/modules/federation/note.ts
  src/modules/federation/repositories/actor.ts
  src/modules/federation/repositories/follow.ts
  src/modules/federation/repositories/key.ts
  src/modules/federation/repositories/post.ts
  src/routes/(mastodon)/api/(authorized)/v1/accounts/verify_credentials.ts
  src/routes/(private)/settings/new-user.tsx
  src/routes/[handle]/index.tsx
Due: deno lint, deno fmt

Add simple landing page in place of fresh default
  src/common/components/Card.tsx
  src/components/Button.tsx
  src/islands/Counter.tsx
  src/routes/_app.tsx
  src/routes/index.tsx
  static/styles.css
Due: deno lint, deno fmt

Add minimal timeline to profile page
  src/common/helpers/date.ts
  src/routes/[handle]/index.tsx
Due: deno lint, deno fmt

Update README with updated stack
  README.md
Due: deno fmt

Path conditions:
  deno lint: any of: *.{ts,tsx}
  deno fmt: (any of: *.{ts,tsx}) or (any of: *.{md,json,jsonc})
